#csharp, #python, #javascript {
    display: none;
}


form {
background-image: url(../img/nature.jpg);
}

.btn {
    color: blue;
}

.well h1 {
color: green;
text-align: center;
}

h1 {
    text-align: center;
    color: red;
}

#csharp h1 {
    background-color: blanchedalmond; 
    color: blueviolet;
}

#python h1 {
background-color: blanchedalmond;
color: blueviolet;
}

p {
   float: right; 
}


img {
    justify-items: center;
}
