#csharp, #python, #javascript {
    display: none;
}


body {
background-image: url(../img/nature.jpg);
}

.btn {
    color: blue;
}

.well h1 {
color: green;
text-align: center;
}

h1 {
    text-align: center;
    color: red;
}

